
.overlay-back-drop { 
    position: fixed;
    // top: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 101;
    background: rgba(0,0,0,0.4);
}

.overlay-drop {
    // display: none;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    transform: translateX(-100vw) ;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 900;
    transition: transform 0.4s;
    padding-top: 35px;

    .overlay-closer {
        position: absolute;
        top: 30px;
        right: 20px;
    }


}



// .overlay-drop.active {
//     transform: translateX(0vw) !important;
// }

.nav-bar {
    // max-width: 1140px;
    padding: 1rem;
    // margin: 1rem auto;
    // background: #c5aa6a;
    background: white;
    position: relative;
    top: 0;
    z-index: 100;
    transition: all ease-in 1s;


    &.active {
        position: sticky;
        top: 0rem;
    }

    &#active {
        // position: relative;
        top: -100rem;

    }
    

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1140px;
        margin: 0 auto;

        .left-nav {
            .hamburger-menu {
                display: none;
            }
        }

        button {
            border: none;
            background: none;
            // color: #ffffff;
            color: #fff;
        }
    
        svg {
            margin-left: 5px;
            cursor: pointer;
            
        }

        .logo {
            height: 80px;
            
            // height: 60px;
            // width: 150px;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .nav-links {
            display: flex;
            
            
            
            li {
                animation-name: underline;
                animation-duration: 2s;
                

                ::before {
                    content: '';
                    height: 2px;
                    width: 50%;
                    background: var(--primary-color);
                    position: absolute;
                    top: 120%;
                }

                list-style-type: none;
                margin-left: 1.6rem;
                position: relative;

                :hover {
                    color: var(--primary-color);
                
                }

                :hover::before {

                    
                    content: '';
                    height: 2px;
                    width: 100%;
                    background: var(--primary-color);
                    position: absolute;
                    top: 120%;
                    
                }

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 1.1rem;
                    transition: all 0.5s ease-in;
                    
                }

                
                
            }

            
        }
    }
}




@media (max-width: 680px) {
    .overlay-drop{
        // display: flex;
        flex-direction: column;
        height: 100vh;
        width: 50vw;
        transform: translateX(-100vw) !important;
        overflow-x: hidden;
        position: fixed;
        left: 0;
        top: 0;
        background-color: white;
        z-index: 700;
        transition: all 0.2s;
        padding-top: 35px;


        .overlay-closer {
            position: absolute;
            top: 30px;
            right: 20px;
        }

        .side-links {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            align-items: center;
            justify-content: center;

            
            
            li {
                // width: 100%;
                margin-top: 2.5rem;
                list-style-type: none;
                position: relative;
                // left: 40%;
                :hover {
                    color: var(--primary-color);
                
                }

                

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 1.1rem;
                    transition: all 0.5s ease-in;
                }

                
                
            }

            
        }

    }

    .overlay-back-drop.active {
        display: flex;
    }

    .overlay-drop.active {
        transform: translateX(0vw) !important;
    }
    

    .nav-bar {

        .nav-wrapper {
            .nav-links { 
                display: none !important;
            }

            .left-nav {
                .hamburger-menu {
                    display: block;
                }
            }
    
           
        }
    }
    

}