@use '../index';


a {
    text-decoration: none;
}

.navbarWorks {
    width: 100%;
    height: 5rem;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    .login-nav {
        padding-right: 2rem;

        li {
            list-style-type: none;
            font-size: 1rem;
            cursor: pointer;
            display: inline-block;
            padding: 1.2rem;

            a {
                color: white;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }


    .logoNav {
        // padding-top: 1rem;
        padding-left: 2rem;
        font-size: 1rem;
        display: flex;
        gap: 2rem;

        #portFolio {
            color: var(--primary-color);
        }

        //remember to add funtionality to toggle this dynamically
        .menu-btn {
            display: none;
        }
    }

    .noNavLogo {
        visibility: hidden;
    }

    .navLinks {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .navItem {
            font-size: 1rem; 
            list-style: none;
            margin: 0rem 2rem;
            cursor: pointer;

            .navLink {
                text-decoration: none;
                color: index.$clr-white;
                text-transform: capitalize;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }

    .user-pane {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            padding-right: 2rem;
            align-items: center;

            // .userImage {
            //     width: 30px;
            //     height: 30px;
            //     overflow: hidden;
            //     outline: none;
            //     cursor: default;
            //     background: index.$clr-white;
            //     border: none;
            //     border-radius: 50%;

            //     img {
            //         width: 100%;
            //         height: 1005;
            //     }
            // }

            .userImageFab {
                width: 30px;
                height: 30px;
                background-color: index.$clr-white;
            }

            
    }
    
}


.navbarWorks.small {
    .logoNav {
        padding-left: 1rem;
        gap: 1rem;
    }

    .login-nav {
        padding-right: 1rem;
        white-space: nowrap;

        li {
            padding: 0.5rem;
        }
    }
}

@media (max-width: 889px) {
    .navLinks {
        display: none;
    }
}