@use '../../index.scss';

.login-container {
    color: white;
    // width: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    

    form.form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 3rem 0rem;
        // background-color: var(--primary-color);
        background-color: index.$clr-grey-9;
        border-radius: 0.5rem;
        width: 400px;

        button.submit-btn {
            background-color: var(--primary-color);
            transition: all linear;

            &:hover {
                background-color: var(--primary-color);
                opacity: 0.9;
            }
        }

        span {

            i {
                position: absolute;
                top: 35%;
                
            }

            #email {
                // width: 80%;
                // padding: 1rem;
                // border-radius: 1rem;
                // border: none;
                outline: none;
                padding: 1rem;
                padding-left: 3rem;
                // background: white;
                
            }

            label {
                color: black;
                margin-top: -.5rem;
                
            }


        }

    }
}